.gap-section {
  width: 100%;
  background-color: #0b82ad;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

.gap-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.gap-heading {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.gap-description {
  max-width: 875px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dbeafe;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .gap-heading {
    font-size: 38px;
  }

  .gap-description {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .gap-section {
    padding: 40px 16px;
  }

  .gap-heading {
    font-size: 28px;
    line-height: 34px;
  }

  .gap-description {
    font-size: 16px;
    line-height: 24px;
  }
}
/* ==========================2nd section=================== */

.service-overview-section {
  width: 100%;
  padding: 120px 20px;
  background: #fff;
}

.service-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.service-image {
  flex: 1;
}

.service-image img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

.service-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.service-content h2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  color: #101828;
  margin: 0;
}

.service-content p {
  font-family: Poppins;
  font-size: 18px;
  line-height: 28px;
  color: #4a5565;
  margin: 0;
}

.consult-btn-servises {
  margin-top: 8px;
  width: fit-content;
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  border: none;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-family: Poppins;
  font-size: 16px;
  color: #fff;

  background: linear-gradient(90deg, #0b82ad, #053547);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .service-container {
    gap: 40px;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .service-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .service-content {
    align-items: center;
    text-align: center;
  }

  .service-content h2 {
    font-size: 26px;
  }

  .service-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .consult-btn {
    margin-top: 16px;
  }
}
/* ===========================================3rd section====================== */
.features-section {
  width: 100%;
  background: #f9fafb;
  padding: 100px 0;
}

.features-container {
  max-width: 1013px;
  margin: 0 auto;
  text-align: center;
}

.features-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  color: #101828;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(494px, 1fr));
  justify-content: center;
}

.feature-card {
  width: 100%;
  max-width: 494px;
  height: 76px;
  background: #ffffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 24px;
  font-family: "Poppins";
  font-size: 18px;
  color: #364153;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.feature-icon {
  width: 24px;
  height: 24px;
  border: 2px solid #0b82ad;
  color: #0b82ad;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

p {
  padding-top: 16px;
}

@media (max-width: 1024px) {
  .features-section {
    padding: 80px 20px;
  }
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .features-section {
    padding: 60px 16px;
  }
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .feature-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .feature-card {
    width: 100%;
    max-width: none;
    height: auto;
    padding: 12px;
    font-size: 14px;
  }
}

.benefits-section {
  width: 100%;
  background: #ffffff;
  padding: 80px 0;
}

.benefits-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.benefits-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.benefits-icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: #0b82ad;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-title h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  color: #101828;
  margin: 0;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.benefits-list li {
  position: relative;
  padding-left: 28px;
  font-family: "Poppins";
  font-size: 16px;
  color: #364153;
  line-height: 24px;
}

.benefits-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
}

.li_Icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  color: #0b82ad;
}

.benefits-list-2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.benefits-list-2 li {
  position: relative;
  padding-left: 28px;
  font-family: "Poppins";
  font-size: 16px;
  color: #364153;
  line-height: 24px;
}

.benefits-list-2 li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='9' stroke='%230B82AD' stroke-width='2'/%3E%3Ccircle cx='12' cy='12' r='4' stroke='%230B82AD' stroke-width='2'/%3E%3C/svg%3E")
    no-repeat center;
}

@media (max-width: 768px) {
  section.benefits-section {
    display: block !important;
  }
  section.benefits-section .benefits-wrapper {
    display: block !important;
    width: 100%;
  }
  section.benefits-section .benefits-column {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .benefits-list li,
  .benefits-list-2 li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-left: 0;
  }
  .benefits-list li::before,
  .benefits-list-2 li::before {
    position: relative;
    top: 3px;
    left: 0;
    flex-shrink: 0;
  }
  .benefits-title {
    align-items: center;
    gap: 10px;
  }
  .benefits-title h3 {
    font-size: 22px;
    line-height: 28px;
  }
}

.process-section {
  width: 100%;
  background: #f9fafb;
  padding: 100px 0;
  text-align: center;
}

.process-heading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  color: #101828;
  margin-bottom: 60px;
}

.process-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.process-card {
  position: relative;
  background: #ffffff;
  border-radius: 14px;
  padding: 32px 24px;
  text-align: left;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 6px rgba(0, 0, 0, 0.06);
}

.process-number {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0b82ad;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.08);
}

.process-card h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  color: #101828;
  margin-bottom: 10px;
  margin-top: 10px;
}

.process-card p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a5565;
}

@media (max-width: 1024px) {
  .process-grid {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 768px) {
  .process-grid {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}

.cta-section {
  width: 100%;
  padding: 112px 175.6px;
  background: #0b82ad;
  border-radius: 16px;
  box-sizing: border-box;
}

.cta-container {
  max-width: 1104px;
  margin: auto;
  text-align: center;
}

.cta-container h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 16px;
}

.cta-container p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dbeafe;
  max-width: 796px;
  margin: 0 auto 40px auto;
}

.cta-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 24px;
}

.cta-primary {
  background: #ffffff;
  color: black;
  border: none;
  padding: 18px 32px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-primary:hover {
  background: #e8efff;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.cta-outline {
  background: transparent;
  color: #ffffff;
  border: 1.6px solid #ffffff;
  padding: 18px 32px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cta-outline:hover {
  background: #ffffff;
  color: #0b82ad;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.gap-section {
  width: 100%;
  min-height: 252px;
  background: #0b82ad;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}

.gap-container {
  max-width: 1200px;
  width: 100%;
}

.gap-heading {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 20px;
}

.gap-description {
  max-width: 875px;
  margin: auto;
  font-family: Poppins;
  font-size: 20px;
  line-height: 28px;
  color: #dbeafe;
}

.overview-section {
  padding: 120px 20px;
}

.overview-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.overview-image {
  flex: 1;
}

.overview-image img {
  border-radius: 16px;
}

.overview-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.overview-content h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  color: #101828;
}

.overview-content p {
  font-family: Poppins;
  font-size: 18px;
  line-height: 28px;
  color: #4a5565;
}

.consult-btn {
  margin-top: 24px;
  width: fit-content;
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #0b82ad, #053547);
  cursor: pointer;
}

.features-section {
  background: #f9fafb;
  padding: 100px 20px;
}

.features-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.features-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.benefits-section {
  padding: 100px 20px;
}

.benefits-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.process-section {
  background: #f9fafb;
  padding: 100px 20px;
  text-align: center;
}

.process-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.process-card {
  background: #fff;
  border-radius: 14px;
  padding: 32px 24px;
  text-align: left;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 6px rgba(0, 0, 0, 0.06);
}

.cta-section {
  background: #0b82ad;
  padding: 100px 20px;
}

.cta-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.cta-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cta-primary,
.cta-outline {
  padding: 16px 28px;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
}
