.iso-hero-section {
  width: 100%;
  background: linear-gradient(180deg, #eff6ff 0%, #ffffff 100%);
  padding: 80px 0;
}

.iso-hero-container {
  max-width: 100%;
  margin: auto;
  padding: 0 16px;
 

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.iso-hero-content {
  max-width: 600px;
       /* background-color: red; */
       margin:auto;

}

.iso-hero-badge {
  display: inline-block;
  background: #dbeafe;
  color: #0b82ad;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, sans-serif;

  padding: 8px 16px;
  border-radius: 999px;
  margin-bottom: 20px;
}

.iso-hero-title {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: #101828;
  margin-bottom: 20px;
}

.iso-hero-highlight {
  display: block;
  color: #0b82ad;
}

.iso-hero-description {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #4a5565;
  margin-bottom: 30px;
}

.iso-hero-buttons {
  display: flex;
  gap: 16px;
}

.iso-hero-btn-primary {
  background: #0b82ad;
  color: #ffffff;
  border: none;
  border-radius: 10px;

  padding: 14px 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  box-shadow:
    0 4px 6px -4px rgba(0,0,0,0.1),
    0 10px 15px -3px rgba(0,0,0,0.1);
}

.iso-hero-btn-outline {
  background: transparent;
  border: 1.6px solid #0b82ad;
  border-radius: 10px;

  padding: 14px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #0b82ad;
  cursor: pointer;
}

.iso-hero-image-wrapper {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.iso-hero-image {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .iso-hero-container {
    flex-direction: column;
    text-align: center;
  }

  .iso-hero-buttons {
    justify-content: center;
  }

  .iso-hero-title {
    font-size: 42px;
    line-height: 52px;
  }

  .iso-hero-description {
    font-size: 18px;
  }

}


/* =====================2nd section-===================== */
