.isoStandards-training-section .isoStandards-container {
    max-width: 1239px;
    margin: 0 auto;
    padding: 0 20px;

}

/* GRID */

.isoStandards-training-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    max-width: 1239px;
    margin: 0 auto;
    padding: 60px 20px;

    background-color: #fff;
    font-family: "Outfit", sans-serif;
}

/* CARD */

.isoStandards-training-card {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #e2e8f0;

    box-shadow: 0 4px 12px rgba(0,0,0,0.03);

    width: 100%;
}

/* HEADER */

.isoStandards-card-header {
    background-color: #0e88ab;
    padding: 25px 20px;
    color: #ffffff;
    min-height: 160px;
}

.isoStandards-top-tags {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.isoStandards-tag-pill {
    font-size: 11px;
    background: rgba(255,255,255,0.2);
    padding: 4px 14px;
    border-radius: 20px;
    font-weight: 500;
}

.isoStandards-tag-pill.white {
    background: #ffffff;
    color: #0e88ab;
    font-weight: 700;
}

.isoStandards-card-header h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

.isoStandards-iso-sub {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    opacity: 0.8;
    color: #DBEAFE;
}

/* BODY */

.isoStandards-card-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* PRICE */

.isoStandards-price-label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #4A5565;
}

.isoStandards-price {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #0B82AD;
}

/* DESCRIPTION */

.isoStandards-description {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4A5565;
}

/* BUTTON */

.isoStandards-btn-enquire {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    gap: 10px;

    border-radius: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    color: #ffffff;
    background-color: #0B82AD;

    text-decoration: none;
}

.isoStandards-btn-enquire:hover {
    background-color: #0c7391;
}

/* ================= RESPONSIVE ================= */

/* Tablet */

@media (max-width: 1024px) {

    .isoStandards-training-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile */

@media (max-width: 768px) {

    .isoStandards-training-grid {
        grid-template-columns: 1fr;
    }

}