.section-header {
  text-align: center;
  margin-bottom: 10px;
  padding: 0 15px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1a1a1a;
  position: relative;
  display: inline-block;
}


.section-header h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #0084aa;
  margin: 10px auto 0;
  border-radius: 2px;
}

.section-header p {
  font-size: 16px;
  color: #666;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.6;
}

.services-section {
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
}

.service-card,
.service-card1 {
  position: relative;
  padding: 80px 20px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;

}

.service-card h3,
.service-card1 h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.service-card p,
.service-card1 p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.95;
}

.service-card:hover,
.service-card1:hover {
  transform: translateY(-10px);
}

.teal-card {
  background: linear-gradient(180deg, #0084aa 0%, #00334e 100%);
  color: #ffffff;
}

.white-card {
  background: #80808024;
  color: #0084aa;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.icon-box {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teal-card .icon-box {
  background: #ffffff;
}

.white-card .icon-box {
  background: #0084aa;
}

.white-card .icon-box img {
  filter: brightness(0) invert(1);
}

.icon-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.card.class{
  height: 300px;
  width: 100%;
}
.services-grid {
  margin-top: 0;
  padding-top: 0px;
}

.service-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 70px;
  color: grey;
  cursor: pointer;
  z-index: 5;
}

.service-arrow.left {
  left: 0;
}

.service-arrow.right {
  right: 0;
}

@media (max-width: 992px) {

  .service-card,
  .service-card1 {
    min-height: 420px;
  }
}

@media (max-width: 768px) {
  .service-arrow {
    display: none !important;
  }

  .service-card,
  .service-card1 {
    flex-direction: row;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 75px;
  }

  .icon-box {
    margin-right: 60%;
    width: 20%;
  }

  .service-card h3,
  .service-card1 h3 {
    width: 62%;
    margin-right: 30%;
  }

  .service-card p,
  .service-card1 p {
    width: 60%;
    margin-right: 30%;
  }
}

.services-grid {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.section-header {
  margin-bottom: 10px !important;
}

.services-section {
  padding-top: 70px !important;
  padding-bottom: 30px !important;
  margin-bottom: 0 !important;
}