.main-header {
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 12px;
}

.main-header .header-flex {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.main-header .logo img {
  width: 100px;
  height: 90px;
  object-fit: contain;
  position: relative;
  top: -10px;
}

.main-header .navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-header .nav-menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.main-header .nav-link {
  text-decoration: none;
  color: #0c0c0d;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding: 15px 0px 0px 0px;
  transition: 0.3s ease;
}

.main-header .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #0b82ad;
  transition: width 0.3s ease;
}

.main-header .nav-link:hover {
  color: #0b82ad;
}

.main-header .nav-link:hover::after {
  width: 100%;
}

.main-header .nav-link.active {
  color: #0b82ad;
  font-weight: 600;
}

.main-header .nav-link.active::after {
  width: 100%;
}

.main-header .btn-contact {
  text-decoration: none;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(90deg, #0b82ad, #053547);
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 13px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.main-header .btn-contact:hover {
  opacity: 0.9;
}

.main-header .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.main-header .hamburger span {
  width: 25px;
  height: 3px;
  background: #053547;
}

@media (max-width: 992px) {
  .main-header .header-flex {
    height: 80px;
  }

  .main-header .logo img {
    width: 80px;
    height: 80px;
    top: 0;
  }

  .main-header .hamburger {
    display: flex;
  }

  .main-header .navbar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s;
  }

  .main-header .navbar.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .main-header .nav-menu {
    flex-direction: column;
    gap: 18px;
  }

  .main-header .nav-link {
    font-size: 16px;
  }

  .main-header .btn-contact {
    margin-top: 10px;
  }
}
