.main-header {
  --teal: #0B82AD;
  --navy: #053547;
  --white: #ffffff;
  --text: #0C0C0D;
  --transition: all 0.3s ease;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 12px 0;
}

.main-header .container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  background: #ffffff;
  /* box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.12); */
}

.main-header .header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}

.main-header .logo img {
  width: 124px;
  height: 124px;
  object-fit: contain;
  position: relative;
  top: -10px;
}

.main-header .navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-header .nav-menu {
  display: flex;
  list-style: none;
  gap: 40px;
}

.main-header .nav-link {
  text-decoration: none;
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding: 6px 0;
  transition: var(--transition);
}

.main-header .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: var(--teal);
  transition: var(--transition);
}

.main-header .nav-link:hover::after,
.main-header .nav-link.active::after {
  width: 100%;
}

.main-header .nav-link:hover {
  color: var(--teal);
}

.main-header .btn-contact {
  text-decoration: nones;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #0B82AD, #053547);
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  transition: var(--transition);
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-header .btn-contact:hover {
  opacity: 0.9;
}

.main-header .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.main-header .hamburger span {
  width: 25px;
  height: 3px;
  background: var(--navy);
}

@media (max-width: 992px) {
  .main-header .header-flex {
    height: 80px;
  }

  .main-header .logo img {
    width: 80px;
    height: 80px;
    top: 0;
  }

  .main-header .hamburger {
    display: flex;
  }

  .main-header .navbar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: var(--transition);
  }

  .main-header .navbar.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .main-header .nav-menu {
    flex-direction: column;
    gap: 18px;
  }

  .main-header .nav-link {
    font-size: 16px;
  }

  .main-header .btn-contact {
    margin-top: 10px;
    width: 140px;
  }
}