
/* Overlay */
.consult-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

/* Modal Container */
.consult-modal-box {
  width: 672px;
  /* height: 626px; */
  background: #FFFFFF;
  border-radius: 14px;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

/* ================= HEADER ================= */

.consult-header {
  width: 100%;
  height: 108px;
  background: #0B82AD;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.consult-header h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0;
}

.consult-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #DBEAFE;
  margin-top: 4px;
}

.consult-close {
  background: transparent;
  border: none;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
}


.consult-body {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #364153;
  margin-bottom: 6px;
}

.form-group label span {
  color: #FB2C36;
}


.form-group input {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: 0.8px solid #D1D5DC;
  padding: 8px 16px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.form-group input:focus {
  border-color: #0B82AD;
}

.form-group textarea {
  width: 100%;
  height: 20px;
  padding: 0px 8px;   
  font-size: 12px;    
  border-radius: 10px;
  border: 0.8px solid #D1D5DC;
  resize: none;
  outline: none;
  box-sizing: border-box;
}
.form-group textarea:focus {
  border-color: #0B82AD;
}

.full-width {
  margin-top: 16px;
}


.consult-footer {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.submit-btn {
  flex: 1;
  height: 50px;
  background: #0B82AD;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #086b8e;
}

.cancel-btn {
  width: 107px;
  height: 50px;
  border-radius: 10px;
  border: 0.8px solid #D1D5DC;
  background: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #1E293B;
  cursor: pointer;
  transition: 0.3s ease;
}

.cancel-btn:hover {
  background: #f5f5f5;
}


@media (max-width: 768px) {
  .consult-modal-box {
    width: 95%;
    height: auto;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .consult-footer {
    flex-direction: column;
  }

  .submit-btn,
  .cancel-btn {
    width: 100%;
  }
}

