.footer-section {
  background: #101828;
  padding: 48px 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1414px;
  margin: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo img {
  width: 72px;
  height: 72px;
}

.brand-desc {
  font-size: 16px;
  line-height: 24px;
  color: #99a1af;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #d1d5dc;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons img {
  width: 18px;
  height: 18px;
}

.contact-info p {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  height: 42px;
}

.newsletter h5 {
  color: white;
}

.newsletter-form input {
  flex: 1;
  border-radius: 10px 0 0 10px;
  border: 0.8px solid #364153;
  background: #1e2939;
  padding: 8px 16px;
  color: white;
}

.newsletter-form button {
  width: 52px;
  background: #155dfc;
  border-radius: 0 10px 10px 0;
  border: none;
}

.footer-bottom {
  border-top: 0.8px solid #1e2939;
  margin-top: 32px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #d1d5dc;
}

.footer-links {
  display: flex;
  gap: 24px;
}

.footer-links a {
  color: #d1d5dc;
  text-decoration: none;
}

@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}

p a {
  color: #D4AF37;
  text-decoration: none;
  font-weight: 500;
}